#container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
}

#card1 {
    grid-column: 1/2;

    height: 100%;
    width: 100%;

    text-align: center;
}

#opponentCard {
    grid-column: 2/3;
    
    height: 100%;
    width: 100%;

    text-align: center;
}

#activity {
    grid-column: 1/3;
    height: 100px;

    justify-self: center;
}